---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro'
import Features from '../components/Features.astro'
---

<Layout>
	<Showcase heading="Awesome heading" text="An incredible text"/>
	<Features />
	<h1>Welcome...</h1>
</Layout>